<div ng-app="homecookfamous" ng-controller="SearchCtrl">
	<div class="display-block pull-right">
		<input type="text" id="search"><a href="/search" class="btn btn-primary">Search</a>
	</div>
	<div class="well">
		<ul class="">
			<h4><li class="">Online Shopping of Books, Mobile Phones, Digital Cameras, Laptops, Watches, Clothing & Other Products at Best Price</li></h4>
			<h4><li class="">Buy and sell various products on homecookfamous</li></h4>
			<h4><li class="">Shop online and Save Money</li></h4>
			<h4><li class="">Sale on various International Brands</li></h4>
			<h4><li class="">Free Shipping*</li></h4>
		</ul>
	</div>
</div>