<div ng-app="homecookfamous" ng-controller="RecipeDetailCtrl">
	<h2 class="capitalize">{{recipes[0].name}}
		<button class="pull-right btn btn-primary" onclick="javascript:printDiv('printablediv')">Print Recipe</button>
		<button class="pull-right btn btn-primary" onclick="javascript:downloadRecipe()">Download Recipe</button>
	</h2>
	<div id="printablediv" class="container-fluid">
		<br><center><img ng-src='/images/recipe/{{recipes[0].id}}.jpg' width="50%" max-height="200px"></center><br>
		<div class="row">
			<div class="col-md-3" style="padding:10px;"><div class="">Category</div></div>
			<div class="col-md-9" style="padding:10px;">{{recipes[0].categories}}</div>

			<div class="col-md-3" style="padding:10px;"><div class="">Country</div></div>
			<div class="col-md-9" style="padding:10px;">{{recipes[0].country}}</div>

			<div class="col-md-3" style="padding:10px;"><div class="">Ingredients</div></div>
			<div class="col-md-9" style="padding:10px;">{{recipes[0].ingredients}}</div>

			<div class="col-md-3" style="padding:10px;"><div class="">Instructions</div></div>
			<div class="col-md-9" style="padding:10px;">{{recipes[0].instructions}}</div>

			<div ng-app="homecookfamous" ng-controller"RecipeRatingCtrl">

				<div class="col-md-3" style="padding:10px;"><img src="/images/5star.png" width="20%" height="10%" class=""></div>
				<div class="col-md-1" style="padding:10px;">{{recipes[0].five}}</div>
				<div class="col-md-8" style="padding:10px;"><a href="/recipe/{{recipes[0].id}}/five">+1</a></div>

				<div class="col-md-3" style="padding:10px;"><img src="/images/4star.png" width="20%" height="10%" class=""></div>
				<div class="col-md-1" style="padding:10px;">{{recipes[0].four}}</div>
				<div class="col-md-8" style="padding:10px;"><a href="/recipe/{{recipes[0].id}}/four">+1</a></div>

				<div class="col-md-3" style="padding:10px;"><img src="/images/3star.png" width="20%" height="10%" class=""></div>
				<div class="col-md-1" style="padding:10px;">{{recipes[0].three}}</div>
				<div class="col-md-8" style="padding:10px;"><a href="/recipe/{{recipes[0].id}}/three">+1</a></div>

				<div class="col-md-3" style="padding:10px;"><img src="/images/2star.png" width="20%" height="10%" class=""></div>
				<div class="col-md-1" style="padding:10px;">{{recipes[0].two}}</div>
				<div class="col-md-8" style="padding:10px;"><a href="/recipe/{{recipes[0].id}}/two">+1</a></div>

				<div class="col-md-3" style="padding:10px;"><img src="/images/1star.png" width="20%" height="10%" class=""></div>
				<div class="col-md-1" style="padding:10px;">{{recipes[0].one}}</div>
				<div class="col-md-8" style="padding:10px;"><a href="/recipe/{{recipes[0].id}}/one">+1</a></div>

			</div>
		</div>
	</div>
</div>
